*.o
*.a
*.so
*.dll
*.exe
*.out

__pycache__
dist
build
*.spec

lib/libwconr/libwconr.h

node_modules
package-lock.json

*.vcxproj
install_manifest.txt
*.exp
*.lib
*.sln
*.cmake
_deps
CMakeFiles
*.dir
CMakeCache.txt
*.recipe
*.tlog
*.filters
